<?php 
  header("Content-type: text/css");
?> 

@font-face {
  font-family: 'mouse-300';
  src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'mouse-500';
  src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype"); }

* {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: #444; }

a:hover {
  color: #444; }

ul {
  margin-bottom: 0;
  padding-left: 0; }


a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }

html, body {
  height: 100%; }

p {
  margin-bottom: 0px;
  width: 100%; }

.no-padding {
  padding: 0px; }




h1, h2, h3, h4, h5, h6 {
  font-family: "mouse-500", Arial, Helvetica, sans-serif; }

strong {
  font-family: "mouse-500", Arial, Helvetica, sans-serif; }

body {
  background-color: #f7f7ff !important;
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6A6A6A; }


.btn-success {
  background-color: #00ab9f;
  border-color: #00ab9f; 
  font-size: 10px;}
  .btn-success:hover {
    background-color: #00ab9f !important;
    border-color: #00ab9f !important; }
  .btn-success:active {
    background-color: #00ab9f !important;
    border-color: #00ab9f !important; }
  .btn-success:focus {
    background-color: #00ab9f !important;
    border-color: #00ab9f !important;
    box-shadow: none !important; }



.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }


@media screen and (max-width: 1199px) {
  .container {
    max-width: 100%; } }
.collapse.show {
  display: block !important; }


header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  width: 100%;
  z-index: 999; }
  header .header-nav {
    background-color: #FFF;
    width: 100%; }
    header .header-nav .nav-item ul li {
      float: left;
      font-family: "mouse-500", Arial, Helvetica, sans-serif;
      font-size: 16px;
      padding: 28px; }
      @media screen and (max-width: 998px) {
        header .header-nav .nav-item ul li {
          padding: 30px 18px; } }
      @media screen and (max-width: 767px) {
        header .header-nav .nav-item ul li {
          float: none;
          padding: 14px;
          border-top: 1px solid #CCC; } }
    header .header-nav .d-none img {
      width: 200px;
      padding: 0px;
      margin-top: 21px; }
      @media screen and (max-width: 767px) {
        header .header-nav .nav-img img {
          margin-top: 0px;
          padding: 10px; } }
    header .header-nav .appoint {
      padding-top: 21px; }
  header .scroll-to-fixed-fixed {
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.heading{
      color:#228B22;
      position:absolute;
      top:30px;

      width:100%;
      text-align:center;
      font-size:6rem;
     
    }
    .banner{
      position:relative;
      width:90%;
      margin: 0 auto;
    }
    .banner img{
      width: 100%;
      height: 560px;
    }
    .ill{
      position: absolute;
      color: black;
      top:200px;
      text-align:center;
        font-size:5rem;
    }
    .illtext{
      position: absolute;
      color: black;
      top:340px;
      text-align:center;
        font-size:4rem;

    }
    .box {
      align-items: center;
      background-color: #6495ED;
      color: white;
      display: flex;
      justify-content: center;
      height: 1400px;
      position: relative;
      width: 1200px;
      margin-left: 170px;
    }
    .box:before {
      
      font-size: 18px;
      left: 20px;
      position: absolute;
      text-transform: uppercase;
      top: 20px;

    }
    .box strong {
      font-size: 80px;
    }
    .condtext{
      
      position: absolute;
      font-size: 4rem;
      top:20px;
    }
    .column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 1150px; 
  column-width: 280px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}*/
.gfg { 
                border-collapse:separate; 
                border-spacing:0 15px; 
            }
h3{
  font-size: 2rem;
}
/* button div */
